body{
  background-color: black;
}
h1{
  text-align:center;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
  color: red;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
}
/*  content placed in containers for alignment and spacing*/
.container2{
  display:flex;
  justify-content: center;
  align-items: center;

}
.container2{
  display:flex;
  justify-content: center;
  align-items: center;
}
button{
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
  color: black;
  font-size: 15px;
  font-family:'Press Start 2P' , cursive;
  background-color: grey;
  border-color: grey;
}
button:hover{
  background-color: red;
}
p{
  font-family: 'Iceland', cursive;
  color: white;
  text-align: center;
  font-size: 20px;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
}
